
dy
        {
            font-family: 'Lora', serif;
        }

        .heading-border
        {
            background-color: purple;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
            margin-bottom: 50px;
        }

        #head-text
        {
            color:yellow;
        }

        #buttons
        {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .rcol-head
        {
            margin-bottom: 50px;
        }

        #wand-mvmnt
        {
            height: 150px;
            width: 150px;
            visibility: hidden;
        }

        #hp-gif
        {
            height: 150px;
            width: 150px;
            visibility: hidden;
        }

       </style>
